/* Header Navigation Links */
header nav ul li a:hover {
    color: #000000; /* Set hover color to white */
}

/* About Section */
#about p {
    color: #0000000; /* Set text color to white */
}

/* Videos Section */
#videos iframe {
    border: 5px solid #ffffff; /* Set border color of iframe to white */
}

/* Contact Section */
#contact h2, #contact p {
    color: #000000; /* Set text color to white */
}

#contact input, #contact textarea {
    border: 2px solid #ffffff; /* Set border color to white for input fields */
}

/* Contact Button */
#contact button {
    background-color: #ffffff;
    color: #000000; /* Text color set to black for contrast */
}

#contact button:hover {
    background-color: #000000; /* Button background on hover */
    color: #ffffff; /* Text color on hover */
}
